[general]
#server = https://acme-v01.api.letsencrypt.org
server = https://acme-staging.api.letsencrypt.org

data-dir = /etc/acme
verify-dir = /var/www/verify/.well-known/acme-challenge
email = lebrixitspeciltest@example.com
agreement = https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf

[DEFAULT]
country=NL
state=Drenthe
locality=Smilde
organisation=BrixIT

[brixit]
domains=brixit.nl,www.brixit.nl